/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container-pai{
    display: flex;  
    width: 1400px;
    height: 900px;
    padding: 50px 100px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.container-left{
    width: 40%;
    height: 90%;
    background-color: rgb(230, 230, 230);
    position: relative;
    border:solid 2px black;
}

.container-right{
    width: 60%;
    height: 90%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px;
    position: relative;
    justify-content: flex-end;
    border:solid 2px black;
}

.container-left img{
    height: 100%;
    width:160% ;
    z-index: 100;
    position: relative;
}

.faixa-vermelha{
    background-color: red;
    height: 55px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 28%;
    padding-right: 50px;
}

.texto-faixa{
    color: white;
    font-weight:bold;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

.container-conteudo{
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    position: relative;
    
}

.container-conteudo h1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 50px;
    text-align: end;
}

.texto-cadastro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: end;
    font-style:italic;
    margin: 0 0 30px 0;
}

.container-conteudo h3{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 22.5px;
    text-align: end;
    font-weight: 800px;
    margin-bottom: 5px;
}

.texto-01{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: end;
    font-weight: 800px;
}

.container-logos{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 55px;
    position: relative;
    
}

.container-logos img{
    height: 45px;
}